<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>James Hunt</string>
	<key>Builder Version</key>
	<string>14607.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>Responsive Resizer for Safari by @thetwopct</string>
	<key>CFBundleIdentifier</key>
	<string>com.thetwopct.responsiveresize</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>resizeBar</string>
				<key>Label</key>
				<string>resizeBar</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>resizeWindow</string>
				<key>Identifier</key>
				<string>resizeWindow</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Label</key>
				<string>Open Responsive Resize</string>
				<key>Palette Label</key>
				<string>ResponsiveResize</string>
				<key>Tool Tip</key>
				<string>Open the Responsive Resize toolbar...</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
		<key>Stylesheets</key>
		<array>
			<string>vertical-scroll.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Resize the browser window with precision whilst working on responsive site designs.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<false/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>hhttps://github.com/thetwopct/Responsive-Resizer-Extension-for-Safari</string>
	<key>Website</key>
	<string>https://www.thetwopercent.co.uk</string>
</dict>
</plist>
