.idea
.gitignore
.git
.DS_Store
*.sql
*.codekit
*.codekit3
node_modules
debug.log
wp-snapshots
wp-admin
wp-content/languages
wp-content/themes/index.php
wp-content/themes/twenty*
wp-content/plugins
wp-content/upgrade
wp-content/uploads
wp-includes
wp-activate.php
wp-signup.php
wp-config-sample.php
wp-trackback.php
wp-mail.php
wp-login.php
license.txt
xmlrpc.php
wp-load.php
wp-config.php
wp-comments-post.php
wp-cron.php
wp-blog-header.php
index.php
readme.html
wp-settings.php
wp-links-opml.php
package-lock.json
!wp-content/themes/basetheme/index.php
!wp-content/themes/*/index.php